
 .headerpart{
    width: 1350px;
    height: 110px;
    border-style: groove;
    
    background-image: url('mainlogo.png');
   background-repeat: no-repeat;
   background-size: 1350px;
   
}
.top-nav {
    background-color: rgba(75, 85, 85, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav-box {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .nav-box li a {
    text-decoration: none;
    color: white;
    font-style: bold;
 }
 *{
     margin:0;
     padding: 0;
 }
 
 body{
    
     background-color: lightgray;
    font-family: sans-serif;
}
.regform{
    width: 800px;
    background-color:rgba(0, 0, 0,0.6) ;
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main{
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin: auto;
}
form{
    padding: 10px;

}
#name{
    width: 100%;
    height: 100px;
}
.name{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.firstname{
    position: relative;
    left: 200px;
    top: -35px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;

}
.lastname{
    position: relative;
    line-height: 40px;
    left: 417px;
    top: -80px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.firstlabel{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: 203px;
    top:-34px
}
.lastlabel{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: 492px;
    top:-67px
}
.address{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0,22px;
    font-size: 16px;
    color: #555;
}
.email{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0,22px;
    font-size: 16px;
    color: #555;
}
.number{
    position: relative;
    left: 200px;
    top:-42px;
    line-height: 40px;
    width: 250px;
    border-radius: 6px;
    padding: 0,22px;
    font-size: 16px;
    color: #555;
}
.option{
    position: relative;
    left: 200px;
    top:-37px;
    line-height: 40px;
    width: 250px;
    border-radius: 6px;
    padding: 0,22px;
    font-size: 16px;
    color: #555;
    outline: none;
    overflow: hidden;

}
#gender{
    margin-left: 25px;
    color: white;
    font-size: 18px;

}
.radio{
    
    display: inline-block;
    padding-right: 30px;
    font-size: 25px;
    margin-left: 75px;
    margin-top: -30px;
    color: white;
}
.radio input{
    position: relative;
    width: 125px;
    height: 20px;
    border-radius: 50%;
    cursor: ponter;
    outline:none
}
button{
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2pz solid #366473;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}
button:hover{
    background-color: #5390F7;
}
.dob{
    position:relative;
    width: 125px;
    height: 20px;
    cursor: ponter;
    outline:none;
  
    left: 200px;
    top:-20px;
}
.father{
    position:relative;
    width: 200px;
    height: 20px;
    cursor: ponter;
    outline:none;
  
    left: 200px;
    top:-20px;
}

.mother{
    position:relative;
    width: 200px;
    height: 20px;
    cursor: ponter;
    outline:none;
  
    left: 200px;
    top:-20px;

}
.board{
    position:relative;
    width: 200px;
    height: 20px;
    cursor: ponter;
    outline:none;
  
    left: 200px;
    top:-20px;

}
.percentage12{
    position:relative;
    width: 200px;
    height: 20px;
    cursor: ponter;
    outline:none;
  
    left: 200px;
    top:-20px;

}
.percentage10{
    position:relative;
    width: 200px;
    height: 20px;
    cursor: ponter;
    outline:none;
  
    left: 200px;
    top:-20px;

}
.boarddrop{
    position:relative;
    width: 200px;
    height: 20px;
    cursor: ponter;
    outline:none;
  
    left: 200px;
    top:-20px;

}