*{
    margin:0;
    padding: 0;
    outline: 0;
   
    
}
.courses{
    width: 1350px;
    height:auto;
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(192, 192, 192);
 }
 .headerpart{
    width: 1350px;
    height: 110px;
    border-style: groove;
    
    background-image: url('mainlogo.png');
   background-repeat: no-repeat;
   background-size: 1350px;
   
}
.top-nav {
    background-color: rgb(74, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .nav-box {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .nav-box li a {
    text-decoration: none;
    color: white;
    
    font-style: bold;
 }
 .courses .back .filter{
     
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index:1 ;
     opacity: 0.7;
     
 }
 table{
     position: absolute;
     z-index: 2;
     left:50% ;
     top: 75%;
     transform: translate(-50%,-50%);
     width: 60%;
     height: 500px;
     background-color: #fafafa;
     text-align: center;
     border-collapse: collapse;
     border-spacing: 0;
     border-radius: 12px 12px 0 0;
     overflow :hidden;
     box-shadow: 0 5px 12px rgba(32,32,32,0.3);


 }
 th,td{
     padding: 10px,15px;
 }
 th{
     background: olive ;
     color: #fafafa;
     text-transform: uppercase ;
     font-family: 'Roboto',sans-serif;
 }
 td{
     font-family:'Open Sans';
 }
 tr:nth-child(odd){
     background-color:peru;
 }
 tr:nth-child(even){
    background-color:orange;
}
body{
    background-color: lightgray;
}
